@model IEnumerable<NoticeLeft>

@foreach (NoticeLeft item in Model)
{
    <div class="single-notice-left mb-25 pb-25">
        <h4>@item.Date.ToString("dd MMMM yyyy")</h4>
        <p>@item.Description</p>
    </div>
}
