@model IEnumerable<Course>
@foreach (var item in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-course mb-70">
            <div class="course-img">
                <a href="course-details.html">
                    <img src="img/course/@item.Image" alt="course">
                    <div class="course-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
            </div>
            <div class="course-content">
                <h3><a href="course-details.html">@item.Title</a></h3>
                <p>@item.Description</p>
                <a class="default-btn" href="@item.Link">read more</a>
            </div>
        </div>
    </div>
}
